@import url('http://fonts.cdnfonts.com/css/christmas-sparkle-personal-use');

.loginPage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 12vw 75vw 10vw;
  grid-template-rows: 10vh 10vh 60vh 20vh;
  background-image: url('./images/loginImage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5e997;
  background-size: cover;
  overflow-y: hidden;
}

.btnContainer {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 70vw 10vw;
  grid-template-rows: 5vh 5vh 7vh;
  align-items: center;
  justify-content: space-around;
}

.newAcc {
  grid-row: 3;
  position: relative;
  top: 1vh;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5vh;
  font-size: 4.2vh;
  border: none;
  height: 5vh;
  width: 40vw;
  color: black;
  box-shadow: inset 0px 0px 5px 1px #000000,
              5px 5px 10px 0px #ec7c14,
              5px 5px 10px 0px #ffffffd4,
              -5px 5px 10px 0px #ec7c14,
              -5px 5px 10px 0px #ffffffd4;
}

.loginBtn {
  background: transparent;
  border: none;
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: fit-content;
}

.enter {
  color: transparent;
  position: relative;
  bottom: 10vh;
  font-size: 3vh;
  text-align: center;
  transition: all 0.5s;
}

.effect {
  color: #471010;
  text-shadow: #000000ad 1px 1px;
}

.loginBtn svg {
  font-size: 15vh;
  color: #fa8d27b7;
}

.inputMail, .inputPass {
  height: 4vh;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 1;
  position: relative;
  background: transparent;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 2vh;
  box-shadow: 5px 5px 10px 0px #ec7c14,
  5px 5px 10px 0px #ffffffd4,
  -5px 5px 10px 0px #ec7c14,
  -5px 5px 10px 0px #ffffffd4;
  transition: 1s;
  text-align: center;
  backdrop-filter: blur(5px) grayscale(1);
}

.inputMail:hover, .inputPass:hover {
  animation: shadowAll 0.5s infinite linear;
}

.inputMail::placeholder, .inputPass::placeholder {
  color: #000000;
}

@keyframes shadowAll {
  0% {
    box-shadow: 5px 5px 10px 0px #ff4800,
    5px 5px 10px 0px #ffffffd4,
    -5px 5px 10px 0px #ff4800,
    -5px 5px 10px 0px #ffffffd4;
  }
  50% {
    box-shadow: 7px 7px 10px 0px #ff4800,
    7px 7px 10px 0px #ffffffd4,
    -7px 7px 10px 0px #ff4800,
    -7px 7px 10px 0px #ffffffd4;
  }
  100% {
    box-shadow: 5px 5px 10px 0px #ff4800,
    5px 5px 10px 0px #ffffffd4,
    -5px 5px 10px 0px #ff4800,
    -5px 5px 10px 0px #ffffffd4;
  }
}

.loginTitle {
  font-family: 'Christmas Sparkle PERSONAL USE', sans-serif;
  color: black;
  text-shadow: 0px 4px 8px #ff6900e6, 0 6px 16px #ffa520;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  text-align: center;
  font-size: 13vw;
  align-self: center;
}

.inputPass {
  margin-top: 12vh;
}

@media (min-width: 500px) {
  .loginPage {
    background-position: 15vh -35vh;
  }
  .loginTitle {
    grid-row: 2;
    color: #ffffff;
    text-shadow: 0px 4px 8px #ff9800, 0 6px 16px #000000;
    backdrop-filter: blur(3px);
  }
  .btnContainer {
    grid-row: 4;
  }
  .loginBtn svg {
    color: rgb(255 124 0);
    font-size: 25vh;
  }
  .inputMail, .inputPass {
    background-color: rgba(250, 236, 176, 0.801);
    padding: 1vh;
  }
  .inputMail {
    margin-bottom: 5vh;
  }
  .loginBtn {
    position: relative;
    right: 70vw;
    top: -17vh;
    font-size: 10vh;
  }
  .effect {
    color: #000000;
    text-shadow: #ffffffd1 2px 1px 1px;
    font-size: 10vh;
  }
  .newAcc {
    top: 3vh;
    font-size: 5vh;
  }
}
